@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');


body {
    font-family: 'Fugaz One';
    background: linear-gradient(111deg, blanchedalmond, lavenderblush, blanchedalmond);
}
h1 {
    text-align: center;
}
.panel-div {
    padding: 12px;
    margin-bottom: 15px;
}



